<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>VppbskAa5al7nUDsUuS1Hna2jZ78jO2yHo4Rn6zjWtcmLs3VLh</string>
	<key>consumer_Key</key>
	<string>uAodHzJ3nMS6tSFe6Weh54jck</string>
</dict>
</plist>
